<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip</h1>
    <a href="/gossips/new/">NEW gossip</a>
    <% gossips.each_with_index do |gossip, i| %>
        <p>
          <%= gossip.author %> : 
          <%= gossip.content %>
          <a href="/gossip/<%= i %>">lien vers le potin <%= i %></a>
        </p>
      <% end %>
  </body>
  <a href="https://gossip-project-mba.herokuapp.com/">HEROKU</a>
  <a href="https://github.com/matthieuBA/the_gossip_project_sinatra">GITHUB</a>

</html>
